html,
body {
    padding: 0;
    margin: 0;
}

button:focus {
    outline: 0;
}

button:hover {
    cursor: pointer;
}

a:hover {
    cursor: pointer;
}

table {
    padding: 0;
    border-spacing: 0;
}


input,
label,
select,
button,
textarea {
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
}

/* Remove the stupid outer glow in Webkit */
textarea:focus-visible,
select:focus,
input:focus {
    outline: 0;
}

/* Box Sizing Reset
-----------------------------------------------*/

/* All of our custom controls should be what we expect them to be */
input,
textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* These elements are usually rendered a certain way by the browser */
button,
input[type=reset],
input[type=button],
input[type=submit],
input[type=checkbox],
input[type=radio],
select {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* File Uploads
-----------------------------------------------*/

input[type=file] {

}

/* Search Input
-----------------------------------------------*/

/* Make webkit render the search input like a normal text field */
input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: border-box;
}

/* Turn off the recent search for webkit. It adds about 15px padding on the left */
::-webkit-search-decoration {
    display: none;
}

/* Buttons
-----------------------------------------------*/

button,
input[type="reset"],
input[type="button"],
input[type="submit"] {
    /* Fix IE7 display bug */
    overflow: visible;
    width: auto;
}

/* IE8 and FF freak out if this rule is within another selector */
::-webkit-file-upload-button {
    padding: 0;
    border: 0;
    background: none;
}

/* Textarea
-----------------------------------------------*/

textarea {
    /* Move the label to the top */
    vertical-align: top;

    /* Turn off scroll bars in IE unless needed */
    overflow: auto;
}

/* Selects
-----------------------------------------------*/

select {

}

select[multiple] {
    /* Move the label to the top */
    vertical-align: top;
}